/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
button {
    transition: 0.5s;
}
html, body {
	height: 100%;
	line-height: 1;
    background: #FFF;
    font-family: 'Inter', sans-serif;
    color: #000000; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
._container {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: content-box;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
    background: #0C0C0E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}
.header__logo {
}
.header__logo__title {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    line-height: 166.667%;
    letter-spacing: 0.6px;
}
.header__nav-profile {
    display: flex;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
}
.header__item {
    margin: 0 30px 0 0;
}
.header__item:last-child {
    margin: 0;
}
/* .header__item:hover {
    border-bottom: 3px solid #FFF;
} */
.header__link {
    color: #FFF;
    line-height: 250%;
    transition: 0.5s;
}
.header__link:hover {
    color: #BB945F;
    transition: 0.5s;
}
.header__profile {
    margin: 0 0 0 40px;
    display: flex;
    align-items: center;
}
.header__profile__icon {
}
/* ------------- */
.main {
}
.welcom {
}
.welcom__container {
    position: relative;
}
.welcom__background {
    height: 600px;
    overflow: hidden;
}
.welcom__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcom__gradient {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
}
.welcom__description {
    background: #0C0C0E;
    position: absolute;
    top: 220px;
    padding: 35px 40px;
}
.welcom__text {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Forum;
    font-size: 40px;
    line-height: 125% ;
    letter-spacing: 3px;
    text-transform: uppercase;
    min-width: 520px;
}
/* -------------------- */
.about {
}
.about__container {
}
.about__title {
}
._title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__text {
    margin: 20px 0;
}
.line {
    border-bottom: 1px solid #0C0C0E;
    width: 50px;
}
.about__description {
    text-align: center;
    line-height: 200%;
    margin: 40px 0 20px;
}
.about__carousel {
}
._carousel {
}
.carousel__wrapper {
}
.carousel_items {
    display: flex;
    overflow: hidden;
}
.carousel__item {
    min-width: 450px;
    height: 560px;
    overflow: hidden;
    margin: 0 25px 0 0;
}
.carousel__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel__nav {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel__nav-dot {
    border-radius: 50%;
    background-color: #0C0C0E;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}
.carousel__nav-dot:last-child {
    margin: 0;
}
.dot-active {
    background-color: #BB945F;
}
/* ------------------- */
.favorites {
}
.favorites__container {
}
.favorites__title {
}
.favorites__text {
    margin: 20px 0;
}
.line {
}
.favorite__season {
    font-weight: 700;
    line-height: normal;
    margin: 41px 0;
}
.favorite__season__checked {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
.favorite__season__checked label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite__season__checked label.active{
    font-weight: 700;
}
.favorite__season__checked label input {
    margin-right: 20px;
    accent-color: black;
    width: 17px;
    height: 17px;
}
.favorite__carousel__books {
}
.carousel__books {
}
.carousel__books-items {
    display: flex;
    gap: 40px 260px;
    flex-wrap: wrap;
}
.carousel__books-items.books__spring {
    display: none;
}
.carousel__books-items.books__summer {
    display: none;
}
.carousel__books-items.books__autumn {
    display: none;
}
.carousel__books-item {
    border: 1px solid #000;
    width: 550px;
    height: 555px;
    padding: 14px 14px 14px 19px;
    position: relative;
}
.books-item_title {
    font-family: Forum;
    line-height: 200%;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.books-item_title-line {
    width: 60px;
    height: 1px;
    background: #BB945F;
}
.books-item_name {
    font-size: 15px;
    font-weight: 700;
    line-height: 266.667%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.books-item_author {
    text-transform: capitalize;
}
.books-item_description {
    font-size: 15px;
    line-height: 266.667%;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 15px;
    min-height: 320px;
    max-width: 355px;
}
.books-item_btn {
    color: #0C0C0E;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    padding: 9px 27px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: transparent;
}
.books-item_btn:hover {
    border: 1px solid #BB945F;
    color: #BB945F;
}
*:disabled {
    border: 1px solid #BB945F;
    color: #BB945F;
}
.books-item_img {
    position: absolute;
    top: 255px;
    right: -40px;
    height: 300px;
    width: 200px;
    overflow: hidden;
}
.books-item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ------------------- */
.coffee-shop {
}
.coffee-shop__container {
}
.coffee-shop__title {
}
.coffee-shop__text {
    margin: 20px 0;
}
.line {
}
.coffee-shop__description {
    text-align: center;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 2px;
    margin: 40px 0;
}
/* ------------------- */
.footer {
}